/* Banner Section start */
.home {
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
  margin-top: -105px;
}

.home video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

.home .home-content {
  max-width: 1800px;
  height: calc(100% - 200px);
  margin: auto;
  padding-top: 150px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 20px;
}

.home .home-content h1 {
  font-size: 119px;
  font-weight: 700;
  line-height: 116px;
  color: var(--white);
}

.home .home-content p {
  font-family: Roboto;
  font-weight: 300;
  color: var(--white);
  font-size: 36px;
  margin-top: 10px;
}
/* Banner Section end */

/* Understanding Emotional start  */
.understanding-emotional {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
  padding: 95px 20px 115px 20px;
}

/* .understanding-emotional div {
  width: 50%;
} */

.understanding-emotional h2 {
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 24px;
  color: var(--darkBlueGray);
}

.understanding-emotional p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
}
/* Understanding Emotional end  */

/* Introduction Brain Vector start */
.introduction-brainvector {
  background-color: var(--verLightGrayishBlue);
}
.introduction-brainvector-content {
  padding: 116px 20px 119px 20px;
  max-width: 1400px;
  margin: auto;
}

.introduction-brainvector .introduction-brainvector-content div > p {
  color: var(--darkBlueGray);
}

#h-tabs {
  background-color: var(--verLightGrayishBlue);
}
/* Introduction Brain Vector end */

/* Tabs */
#home-tab-content-phone {
  display: none;
}

/* content fade */
.content {
  position: absolute;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.content.active {
  opacity: 1;
}

/* container with image and progress */
.progress-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 0;
}

/* gray track background */
.progress-track {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #9A887F; /* gray background */
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

/* animated bar fill */
.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  border-radius: 10px;
  transition: width 0.1s linear;
}

#content1,
#content2,
#content3 {
  color: white;
  position: absolute;
  background: #d1d1d1bf;
  padding: 3px 13px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 22px;
}

#content1 {
  top: 50%;
  left: 5%;
  width: 114px;
}

#content2 {
  top: 15%;
  left: 27%;
  width: 115px;
}

#content3 {
  top: 50%;
  left: 65%;
  z-index: 999999;
  width: 166px;
}

.progress-track {
  width: 60%;
  left: 20%;
  bottom: 16%;
}

@media (max-width: 768px) {
  #content3 {
    left: 55%;
  }
}