---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Footer from "../components/Footer.astro";
---
<Layout>
    <Header client:load />
    <!-- About us Page Start -->
    <section class="home">
        <video
        autoplay
        muted
        loop
        playsinline
        poster="../images/img/about-us.png"
        >
        <source src="#" type="video/mp4" />
        <img
            src="../images/img/about-us.png"
            alt="Your browser does not support video playback."
        />
        </video>
        <div class="home-content">
        <div>
            <h1 class="max-w-[1200px]">The Driving Force Behind Brain Vector</h1>
        </div>
        </div>
    </section>
    <!-- About us Page End -->
     <!-- Our Vision Start -->
      <section class="pt-[50px] pb-[80px] md:pt-[114px] md:pb-[227px] px-4">
        <h2 class="max-w-[1200px] mx-auto md:text-center text-[34px] leading-[38px] md:text-[50px] md:leading-[52px] font-normal ">Our Vision is <span class="text-[#8F9EAD] font-bold">to bridge the gap between science and everyday mental well-being.</span> To make emotional clarity and cognitive strength accessible through cutting-edge, ethical technology.</h2>
        <div class="max-w-[1420px] mx-auto pt-[71px] md:pt-[173px] md:flex items-center md:gap-[75px]">
            <div class="md:w-1/2">
                <img src="../images/img/Science-Driven.png" alt="Science-Driven" />
            </div>
            <div class="md:w-1/2">
                <h2 class="pt-[50px] md:pt-[0px] font-[Barlow]! font-medium text-[38px] leading-[40px] md:text-[50px] md:leading-[50px]">Science-Driven Innovation for Emotional and Cognitive Well-Being</h2>
                <p class="pt-[25px] text-[18px]">At Brain Vector, we believe that emotional regulation and mental performance are not just personal goals—they’re measurable, trainable, and essential to human potential. Our mission is to create science-backed tools that help individuals and organizations access clarity, resilience, and cognitive precision through immersive technology.</p><p class="py-[20px]">
<span class="text-[#4D4D4D] font-bold">Where Neuroscience Meets Innovation: </span> Brain Vector was founded on the principle that emotional and cognitive states can be guided—not just observed. Our solutions are built on decades of peer-reviewed neuroscience exploring memory, emotion, and neuroplasticity. By combining artificial intelligence, virtual reality, and biosensor-based feedback, we deliver personalized mental training experiences rooted in measurable science.</p><p>
<span class="text-[#4D4D4D] font-bold">Academic & Clinical Partnerships:</span> We work hand-in-hand with global research institutions, including The <span class="text-[#4D4D4D] font-bold">University of Adelaide and Flinders University,</span> to develop clinical studies and biosensor-enhanced systems that validate and refine our protocols. These collaborations allow us to stay at the forefront of affective neuroscience and applied mental tech.</p>
            </div>
        </div>
      </section>
     <!-- Our Vision End -->
      <!-- Behind Brain Vector Start -->
       <section class="pt-[72px] px-4 md:pt-[89px] pb-[119px] md:pb-[110px] bg-[#EDF0F4]">
        <div class="max-w-[1570px] md:flex gap-[50px] md:ml-[220px]">
            <div class="max-w-[680px]">
                <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[50px] font-medium">Behind Brain Vector</h2>
                <p class="pt-[17px] md:pt-[20px]">Brain Vector is spearheaded by co-founders Dr. Stephane Verhaeghe and Dan Stevens, who bring a dynamic blend of expertise to the table.</p>
                <p class="pt-[10px]"><span class="text-[#0F131A] font-semibold">Dr. Verhaeghe,</span> with a distinguished background in neuroscience and medical affairs, provides the scientific rigor and innovative vision that propels the company's advancements.</p>
                <p class="pt-[10px]"><span class="text-[#0F131A] font-semibold">Dan Stevens,</span> contributes a wealth of knowledge in entrepreneurship, and the intersection of health tech and AI innovation.</p>
            </div>
            <div class="md:flex gap-[29px] pt-[32px] md:pt-[0px]">
                <div class="md:w-[403px] h-[423px] md:h-[441px] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px]" style="background-image: url('../images/img/Stephanes.png');">
                    <div class="w-full">
                        <hr class="text-white">
                        <h4 class="pt-[20px] text-[26px] font-normal! text-[Barlow]! text-white">Dr. Stephane Verhaeghe</h4>
                    </div>
                </div>
                <div class="md:w-[403px] h-[423px] md:h-[441px] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px] mt-[19px] md:mt-[0px]" style="background-image: url('../images/img/Dan-Stevens.png');">
                    <div class="w-full">
                        <hr class="text-white">
                        <h4 class="pt-[20px] text-[26px] font-normal! text-[Barlow]! text-white">Dan Stevens</h4>
                    </div>
                </div>
            </div>
        </div>
       </section>
      <!-- Behind Brain Vector End -->
       <Footer/>
</Layout>