---
import Header from "../components/header";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
<Header client:load/>
<!-- Backed by search -->
 <section class="home">
    <video
      autoplay
      muted
      loop
      playsinline
      poster="https://i.ibb.co.com/svZGgX15/backed.png"
    >
      <source src="/videos/brainvector-home-bg-vide.mp4" type="video/mp4" />
      <img
        src="https://i.ibb.co.com/PsyBtX5G/brainvector-home-banner-fallback-img.png"
        alt="Your browser does not support video playback."
      />
    </video>
    <div class="home-content">
      <div>
        <h1>Backed by Research</h1>
      </div>
    </div>
  </section>
  <!-- At Brain Vector, -->
   <section class="pt-[50px] md:pt-[114px] pb-[50px] md:pb-[237px] mx-auto px-4">
    <h2 class="max-w-[1315px] mx-auto text-[34px] leading-[38px] md:text-center md:text-[50px] md:leading-[50px] font-regular"><span class="font-bold text-[#8F9EAD]">At Brain Vector, neuroscience powers every protocol. </span> Backed by peer-reviewed research, clinical partnerships, and biosensor technology, our solutions deliver measurable impact on focus, stress, and emotional regulation.</h2>
    <div class="pt-[50px] md:pt-[161px]">
<div
    class="max-w-[1408px] flex flex-col md:flex-row items-center mx-auto flex md:gap-[83px]"
  >
    <div
      class="w-[100%] md:w-[672px] h-[362px] md:h-[742px] bg-[url('https://i.ibb.co.com/236pDCWY/Evidence-Based-Technology.png')] bg-cover bg-center rounded-[20px]"
    >
    </div>
    <div class="md:w-1/2">
      <h2
        class="pt-[50px] md:pt-[0px] text-[38px] leading-[42px] md:text-[50px] md:leading-[55px] font-medium"
      >
        <span
          class="text-[var(--graywishBlueShade)]">Evidence-Based Technology </span
        >for Mental Optimization
      </h2>
      <p class="text-[18px] leading-[24px] text-[#4D4D4D] pt-[24px] md:pt-[26px]">At Brain Vector, innovation meets neuroscience. Our method combines <span class="font-bold"> AI, virtual reality, and oxytocin-centered stimulation</span> to activate the brain’s natural ability to recover, focus, and perform under pressure.
Using real-time emotional diagnostics and immersive experiences, Brain Vector guides users into calm, cognitively sharp states. This isn’t just stress relief—it’s measurable neurotraining designed to build long-term emotional balance and mental clarity.
Supported by research and academic collaboration, Brain Vector brings together science and technology to transform the way we train the mind.</p>
      <div class="pt-[80px] md:pt-[32px] md:pt-[92px] flex justify-start items-center">
        <img class="w-[114px]! md:w-[130px]!" src="images/efour.svg" alt="s svg" />
        <p
          class="max-w-[504px] text-[19px] md:text-[24px] font-regular text-[var(--desaturated)]"
        >
          of users report improved emotional clarity 1
        </p>
      </div>
      <p class="pt-[51px] md:pt-[70px] text-[#8D8D8D] text-[14px] text-normal!">
        1. Internal preliminary data – trials in progress
      </p>
    </div>
  </div>
    </div>
   </section>
   <!-- End -->
    <!-- Neuroscience at Start -->
    <section
    class="mx-auto z-50 bg-[var(--verLightGrayishBlue)] pt-[62px] md:pt-[97px] pb-[94px] md:pb-[119px] px-[20px]"
    >
    <div class="max-w-[1680px] mx-auto">
        <h2
        class="hidden md:block text-[50px] leading-[52px] font-medium text-center text-[var(--black)]"
        >
        Neuroscience at<br />
        <span class="text-[var(--mediumGrayBlue)]"
            >the Core of Brain Vector</span
        >
        </h2>
        <h2
        class="md:hidden text-[38px] leading-[38px] font-medium text-[var(--black)]"
        >
        Unlock Your Potential:<span class="text-[var(--mediumGrayBlue)]"
            >Three Paths to Mental Acceleration</span
        >
        </h2>
        <div
        class="pt-[40px] md:pt-[62px] grid grid-cols-1 md:grid-cols-3 gap-[16px] md:gap-[30px]"
        >
        <div
            class="px-[20px] md:px-[37px] pt-[20px] md: pb-[30px] md:py-[20px] h-[316px] md:h-[526px] bg-[url('https://i.ibb.co.com/5h2vqRCv/Stimulating.png')] bg-cover bg-center rounded-[20px] flex flex-col justify-between"
        >
            <div>
            <h4
                class="text-[18px] leading-[20px] md:text-[26px] md:leading-[26px] font-normal! font-[Barlow]! text-[var(--white)]"
            >
                Stimulating Positive Memory Pathways
            </h4>
            <hr class="text-[var(--white)] mt-[10px]" />
            </div>
            <p
            class="md:pb-[23px] text-[16px] leading-[20px] md:text-[18px] md:leading-[26px] font-normal! text-[var(--white)]"
            >
            A 2015 Nature study (Ramirez, MIT) showed that stimulating positive memory circuits in the hippocampus can reduce depression-like behaviors. This discovery helped identify brain regions linked to emotional resilience—foundational to Brain Vector’s immersive approach.
            </p>
        </div>
        <div
            class="px-[20px] md:px-[37px] pt-[20px] md: pb-[30px] md:py-[20px] h-[316px] md:h-[526px] bg-[url('https://i.ibb.co.com/Z6VLPz0t/Mapping.png')] bg-cover bg-center rounded-[20px] flex flex-col justify-between"
        >
            <div>
            <h4
                class="text-[18px] leading-[20px] md:text-[26px] md:leading-[26px] font-normal! font-[Barlow]! text-[var(--white)]"
            >
                Mapping Emotional Brain Chemistry
            </h4>
            <hr class="text-[var(--white)] mt-[10px]" />
            </div>
            <p
            class="md:pb-[24px] text-[16px] leading-[20px] md:text-[18px] md:leading-[26px] font-normal! text-[var(--white)]"
            >
            In 2021, researcher Rebecca Alexander reviewed how oxytocin, dopamine, and serotonin shape emotion, memory, and attention. Her findings form the neurochemical basis for Brain Vector’s immersive, emotionally intelligent user journeys.
            </p>
        </div>
        <div
            class="px-[20px] md:px-[37px] pt-[20px] md: pb-[30px] md:py-[20px] h-[316px] md:h-[526px] bg-[url('https://i.ibb.co.com/d06VjdTH/Advancing.png')] bg-cover bg-center rounded-[20px] flex flex-col justify-between"
        >
            <div>
            <h4
                class="text-[18px] leading-[20px] md:text-[26px] md:leading-[26px] font-normal! font-[Barlow]! text-[var(--white)]"
            >
                Advancing Clinical Neurotechnology
            </h4>
            <hr class="text-[var(--white)] mt-[10px]" />
            </div>
            <p
            class="text-[16px] leading-[20px] md:text-[18px] md:leading-[26px] font-normal! text-[var(--white)]"
            >
            In collaboration with The University of Adelaide and Flinders University, Brain Vector is developing EEG-based biosensors and machine learning models to deliver real-time emotional diagnostics and responsive mental training.
            </p>
        </div>
        </div>
    </div>
    </section>
    <!-- Neuroscience at End -->
     <!-- What Makes Brain Vector Start -->
      <section class="px-4 pt-[71px] pb-[78px] md:pt-[86px] md:pb-[86px] flex flex-col md:justify-center md:items-center">
        <h2
        class="text-[38px] leading-[42px] md:text-[50px] md:leading-[52px] font-medium md:text-center text-[var(--black)]"
        >
        What Makes Brain Vector <br />
        <span class="text-[var(--mediumGrayBlue)]"
            >Scientifically Unique</span
        >
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-4 pt-[39px] md:pt-[55px] gap-[30px] md:gap-[84px]">
            <div class="w-[281px] flex md:flex-col justify-center items-center gap-[14px] md:gap-[21px]">
                <img class="w-[50px]!" src="images/Rooted.svg" alt="Rooted" />
                <p class="md:text-[18px] md:leading-[28px] md:text-center font-semibold">Rooted in peer-reviewed neuroscience</p>
            </div>
            <div class="w-[281px] flex md:flex-col justify-center items-center gap-[14px] md:gap-[21px]">
                <img class="w-[50px]!" src="images/Oxytocin.svg" alt="Rooted" />
                <p class="md:text-[18px] md:leading-[28px] md:text-center font-semibold">Oxytocin-focused emotional regulation protocols</p>
            </div>
            <div class="w-[281px] flex md:flex-col justify-center items-center gap-[14px] md:gap-[21px]">
                <img class="w-[50px]!" src="images/integration.svg" alt="Rooted" />
                <p class="md:text-[18px] md:leading-[28px] md:text-center font-semibold">AI + VR integration for tailored cognitive training</p>
            </div>
            <div class="w-[281px] flex md:flex-col justify-center items-center gap-[14px] md:gap-[21px]">
                <img class="w-[50px]!" src="images/Clinical.svg" alt="Rooted" />
                <p class="md:text-[18px] md:leading-[28px] md:text-center font-semibold">Clinical trials and biosensor development underway</p>
            </div>
        </div>
      </section>
     <!-- What Makes Brain Vector End -->
   <Footer/>
</Layout>