---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
// import Footer from "../components/Footer.astro";
---

<Layout>
  <Header client:load />
  <!-- How it works Page -->
  <section class="home">
    <video
      autoplay
      muted
      loop
      playsinline
      poster="https://i.ibb.co.com/fY8qsczY/how-it-works-bg.jpg"
    >
      <source src="/videos/brainvector-home-bg-vide.mp4" type="video/mp4" />
      <img
        src="https://i.ibb.co.com/PsyBtX5G/brainvector-home-banner-fallback-img.png"
        alt="Your browser does not support video playback."
      />
    </video>
    <div class="home-content">
      <div>
        <h1>How It Works</h1>
        <p>
          The Brain Vector Method: Tech-Driven Mental Clarity, Backed by Neuroscience
        </p>
      </div>
    </div>
  </section>
  <!-- Brain Vector transforms -->
  <section class="pt-[50px] md:pt-[142px] pb-[78px] md:pb-[144px] px-[20px]">
    <h2 class="max-w-[1125px] md:text-center mx-auto text-[34px] leading-[38px] md:text-[50px] md:leading-[50px] font-normal">Brain Vector transforms the science of emotional regulation and cognitive performance into <span class="text-[#8F9EAD]">an immersive, personalized experience.</span></h2>
    <div class="max-w-[1383px] pt-[52px] md:pt-[114px] mx-auto flex gap-[28px] md:gap-[71px] flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 h-[362px] md:h-[742px] bg-[url('https://i.ibb.co.com/F4M16Vfn/map-your-inner-state.png')] bg-center bg-cover no-repeat rounded-[20px]"></div>
        <div class="w-full md:w-1/2">
            <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[50px] font-medium"><span class="text-[#8F9EAD]">Step 1:</span><br>Map Your Inner State</h2>
            <h6 class="text-[16px] md:text-[18px] leading-[24px] pt-[26px] font-semibold">Real-time AI diagnostics for emotional and cognitive awareness</h6>
            <p class="max-w-[610px]">Each session begins with an AI-guided conversation designed to evaluate your stress levels, focus, attention span, and emotional patterns. This data builds your personal mental profile, ensuring that every experience begins from where you are—right now.</p>
        </div>
    </div>
    <div class="max-w-[1383px] pt-[52px] md:pt-[114px] mx-auto flex gap-[28px] md:gap-[71px] flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2">
            <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[50px] font-medium"><span class="text-[#8F9EAD]">Step 2:</span><br>Get Your Own Program</h2>
            <h6 class="text-[16px] md:text-[18px] leading-[24px] pt-[26px] font-semibold">Real-time AI diagnostics for emotional and cognitive awareness</h6>
            <p class="max-w-[610px]">Using your emotional insights, Brain Vector generates a custom protocol that targets your goals—whether it's improving focus, building resilience, reducing anxiety, or accelerating recovery. Our algorithms adapt each session to your real-time physiological and psychological state.</p>
        </div>
        <div class="w-full md:w-1/2 h-[362px] md:h-[742px] bg-[url('https://i.ibb.co.com/ds6WjF7P/Get-Your-Own-Program.png')] bg-center bg-cover no-repeat rounded-[20px]"></div>
    </div>
    <div class="max-w-[1383px] pt-[52px] md:pt-[114px] mx-auto flex gap-[28px] md:gap-[71px] flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 h-[362px] md:h-[742px] bg-[url('https://i.ibb.co.com/zKXJpPr/Enter-Your-Mental-Landscape.png')] bg-center bg-cover no-repeat rounded-[20px]"></div>
        <div class="w-full md:w-1/2">
            <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[50px] font-medium"><span class="text-[#8F9EAD]">Step 3:</span><br>Enter Your Mental Landscape</h2>
            <h6 class="text-[16px] md:text-[18px] leading-[24px] pt-[26px] font-semibold">Immersive VR journeys that support neural rewiring and emotional balance</h6>
            <p class="max-w-[610px]">Our immersive environments are scientifically designed to calm the nervous system, activate positive memory pathways, and simulate high-performance scenarios. From grounded wellness to high-stakes mental training, Brain Vector helps shift your brain from stress mode into optimized function.</p>
        </div>
    </div>
    <div class="max-w-[1383px] pt-[52px] md:pt-[114px] mx-auto flex gap-[28px] md:gap-[71px] flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2">
            <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[50px] font-medium"><span class="text-[#8F9EAD]">Step 4:</span><br>Switch On Your Best Self</h2>
            <h6 class="text-[16px] md:text-[18px] leading-[24px] pt-[26px] font-semibold">Trigger key emotional states like confidence, clarity, and calm</h6>
            <p class="max-w-[610px]">Each session stimulates emotional states supported by oxytocin pathways and neuroplasticity research, helping you return to your day with greater mental strength, emotional clarity, and executive control. These sessions don’t just feel good—they build sustainable change in how you think and respond.</p>
        </div>
        <div class="w-full md:w-1/2 h-[362px] md:h-[742px] bg-[url('https://i.ibb.co.com/GfTZwFqh/Switch-On-Your-Best-Self.png')] bg-center bg-cover no-repeat rounded-[20px]"></div>
    </div>
    <div class="max-w-[700px] mx-auto pt-[78px] md:pt-[142px]">
        <h2 class="text-[38px] leading-[45px] md:text-[50px] md:leading-[50px] md:text-center">Repeat, Adapt, Evolve.</h2>
        <p class="text-[16px] leading-[20px] md:text-[18px] md:leading-[24px] md:text-center pt-[18px] md:pt-[26px]">Because Brain Vector is dynamic, it evolves as you do. Your emotional profile, cognitive needs, and recovery markers are continuously integrated, allowing your sessions to stay effective, relevant, and deeply personal</p>
    </div>
  </section>
  <!-- <Footer/> -->
</Layout>