---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
---

<Layout>
  <Header client:load />
  <section class="home">
    <video autoplay muted loop playsinline poster="https://i.ibb.co/PsyBtX5G/brainvector-home-banner-fallback-img.png">
      <source src="/videos/brainvector-home-bg-vide.mp4" type="video/mp4" />
      <img src="https://i.ibb.co.com/PsyBtX5G/brainvector-home-banner-fallback-img.png" alt="Your browser does not support video playback.">
    </video>
    <div class="home-content">
      <div>
        <h1>Experience<br /> Your Positive</h1>
        <p>
          Elevate mental performance with immersive, personalized emotional
          experiences.
        </p>
      </div>
    </div>
  </section>
  <section class="understanding-emotional">
    <div>
      <h2>
        Understanding Emotional Regulation:<span style="color: var(--blueGray)">The Oxytocin Pathway to Clarity,
        Performance & Inner Balance</span>
      </h2>
      <img class="for-phone-img mb-[20px]" src="https://i.ibb.co.com/j9LdWvs2/Animation-visuel-homepage.png" alt="animation visuel" />
        <span style="font-size: 19px; text-transform: uppercase;">Regulate Emotions. Boost Focus. Elevate Mental Performance.</span> <br><br>Emotion can
        shape how we think, decide, and perform. At the center of this process
        is oxytocin, a naturally occurring neurochemical that promotes trust,
        emotional balance, and stress relief. When triggered, either naturally
        or through VR and AI-enhanced immersive technology, oxytocin helps shift
        the brain from a stress response into a state of clarity and cognitive
        readiness. It enhances focus, strengthens working memory, and improves
        decision-making under pressure.<br><br> <span style="font-weight: 600;color: var(--darkBlueGray);">Repeated thoughts and imagery strengthen
        the pathways that guide behavior and choices, reinforcing this process
        over time.</span> <br><br> regulation is not a personality trait: it’s a
        trainable mental capacity, now accessible through technology. Whether
        you're a wellness center, a corporate leader, or a performance-focused
        organization, supporting emotional regulation can unlock untapped human
        potential.
      </p>
    </div>
    <div>
      <img class="for-desktop-img" src="https://i.ibb.co.com/j9LdWvs2/Animation-visuel-homepage.png" />
    </div>
  </section>
  <!-- Introdution Brainvector -->
  <section class="introduction-brainvector">
    <div class="introduction-brainvector-content flex flex-col md:flex-row gap-[0] md:gap-[68px] ">
      <div class="w-1/2 sm:w-full flex items-center">
        <img class="hidden md:block"
        src="https://i.ibb.co.com/LDFZQ3bY/Introduction-Brainvector-Image.png"
        alt="Introduction brainvector image"
      />
      </div>
      <div class="sm:w-full">
        <h2 class="hel font-mediam text-[38px] leading-[42px] md:text-[50px] md:leading-[52px]">Introducing Brain Vector: 
          <span class="text-[var(--blueGray)]">AI for Mental Clarity and Emotional Resilience</span></h2>
          <img class="md:hidden mt-[35px]"
        src="https://i.ibb.co.com/svHXHDqc/Introduction-Brainvector-Image-phone.png"
        alt="Introduction brainvector image"/>
          <p class="mt-[20px]">Brain Vector is a cutting-edge platform that combines artificial intelligence, virtual reality, and neuroscience to help individuals regain control over their emotional states and optimize cognitive performance.</p>
          <div class="mt-[30px] md:mt-[20px] grid gap-[20px]">
            <div class="flex flex-col md:flex-row">
              <div class="bg-white rounded-[15px] w-[63px] md:w-[135px] h-auto p-[10px] flex items-center">
                <img src="/images/Emotional-Lucidity.svg" alt="Emotional-Lucidity" />
              </div>
              <div class="pt-[10px] md:pt-[0px] md:pl-[20px]">
                <h4 class="text-[18px] font-semibold">Emotional Lucidity</h4>
                <p class="text-[16px]"><em>Powered by oxytocin stimulation, our programs help users access mental clarity, presence, and a deep sense of focus.</em></p>
              </div>
            </div>
            <div class="flex flex-col md:flex-row">
              <div class="bg-white rounded-[15px] w-[63px] md:w-[135px] h-auto p-[10px] flex items-center">
                <img src="/images/Human-Centered-Technology.svg" alt="Human-Centered-Technology" />
              </div>
              <div class="pt-[10px] md:pt-[0px] md:pl-[20px]">
                <h4 class="text-[18px] font-semibold">Human-Centered Technology</h4>
                <p class="text-[16px]"><em>Customized sessions designed with emotional data, neuroscience-backed content, and real-time AI analysis.</em></p>
              </div>
            </div>
            <div class="flex flex-col md:flex-row">
              <div class="bg-white rounded-[15px] w-[63px] md:w-[182px] h-auto p-[10px] flex items-center">
                <img src="/images/Active-Resilience.svg" alt="Active Resilience" />
              </div>
              <div class="pt-[10px] md:pt-[0px] md:pl-[20px]">
                <h4 class="text-[18px] font-semibold">Active Resilience</h4>
                <p class="text-[16px]"><em>Enhance endurance, and strengthen executive function. Brain Vector supports performance under stress, during recovery, or in high-demand environments.</em></p>
              </div>
            </div>
            <div class="flex flex-col md:flex-row">
              <div class="bg-white rounded-[15px] w-[63px] md:w-[165px] h-auto p-[10px] flex items-center">
                <img src="/images/Confidentiality.svg" alt="Confidentiality" />
              </div>
              <div class="pt-[10px] md:pt-[0px] md:pl-[20px]">
                <h4 class="text-[18px] font-semibold">Confidentiality</h4>
                <p class="text-[16px]"><em>All emotional and cognitive data is processed with strict privacy protocols. Ethical technology for  sensitive, human-centered applications.</em></p>
              </div>
            </div>            
            <button class="w-[190px] mt-[20px] flex items-center gap-[8px] p-[12px] border rounded-full pointer"><img style={{width: "20px;"}} src="/images/video.svg" alt="video play" /> Watch the video</button>
          </div>
      </div>
    </div>
  </section>
</Layout>
