---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header client:load />
    <section class="pt-[161px] md:pt-[277px] pb-[169px] bg-[#1C1C1C] -mt-[950px] md:-mt-[105px] px-4">
        <div class="max-w-[1043px] mx-auto">
            <h1 class="text-[40px] md:text-[70px] font-[Barlow] font-bold text-white md:text-center">Terms & Conditions</h1>
            <p class="pt-[20px] md:pt-[100px] font-light text-[16px] tracking-[1px] text-white italic">Last Updated: 10/01/2025</p>
            <p class="text-white text-[16px] font-light pt-[30px] md:pt-[80px]">These Terms & Conditions (“Terms”) govern your access to and use of our website, applications, services, software, and products (collectively, the “Platform”), which are owned and operated by Brain Vector Inc. (“we,” “our,” or “us”).<br><br>
By accessing or using Brain Vector, you agree to be bound by these Terms and our Privacy Policy. If you do not agree to these Terms, please do not use our services.</p>
            <h2 class="text-[24px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[32px] md:pt-[88px]">1. Eligibility</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">You must be at least 18 years old to access or use our Platform. By agreeing to these Terms, you represent and warrant that you meet this age requirement and have the legal authority to accept these Terms on behalf of yourself or any organization you represent.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">1. Use of Services</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">You agree to use Brain Vector for lawful purposes only. You must not use the Platform to:</p>
            <ul class="text-white list-disc text-[16px] leading-[22px] font-light! ml-[35px]">
                <li>Violate any local, national, or international laws or regulations</li>
                <li>Infringe upon or violate intellectual property rights</li>
                <li>Transmit malicious software or harmful content</li>
                <li>Misrepresent your identity or affiliation</li>
            </ul>
            <p class="text-white text-[16px] font-light">We reserve the right to suspend or terminate your access if you breach these Terms.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">3. Medical Disclaimer</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">Brain Vector provides tools for emotional regulation, wellness support, and cognitive enhancement. It is not a medical or therapeutic service, and should not be used as a substitute for professional medical advice, diagnosis, or treatment. If you have a medical or mental health condition, consult a licensed professional before using our products.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">4. Intellectual Property</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">All content, software, visuals, and technologies used in or accessible through Brain Vector are the property of Brain Vector Inc. or its licensors and are protected under copyright, trademark, and other applicable laws. You may not reproduce, distribute, or create derivative works without express written consent.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">5. User Data & Privacy</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">Your use of the Platform is subject to our Privacy Policy,  which describes how we collect, store, and use personal data—including any emotional or cognitive information processed through our system. We are committed to protecting your privacy and emotional integrity.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">6. Changes to the Platform</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">We reserve the right to update or modify any aspect of the Platform, including features, content, and availability, without prior notice. We may also revise these Terms from time to time. Your continued use after any changes constitutes your acceptance of the updated Terms.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">7. Limitation of Liability</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">To the maximum extent permitted by law, Brain Vector Inc. shall not be liable for any indirect, incidental, consequential, or punitive damages resulting from the use or inability to use the Platform. Our total liability shall not exceed the amount paid by you for our services in the twelve months preceding the claim.</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">8. Governing Law</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">These Terms are governed by and construed in accordance with the laws of the State of [Insert State, e.g., Delaware or California], without regard to its conflict of law principles. Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts located in [Insert Location].</p>
            <h2 class="text-[24px] leading-[26px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[50px]">9. Contact Us</h2>
            <p class="text-white text-[16px] font-light pt-[20px]">If you have any questions about these Terms, please contact us at:<br>
 [Insert email address]<br>
 [Insert company address]</p>
        </div>
    </section>
    <Footer client:load />
</Layout>