---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header/>
    <section class="pt-[177px] pb-[169px] bg-[#1C1C1C]">
        <div class="max-w-[1043px] mx-auto">
            <h1 class="text-[40px] md:text-[70px] font-[Barlow] font-bold text-white md:text-center">Terms & Conditions</h1>
            <p class="pt-[20px] md:pt-[100px] font-light text-[16px] tracking-[1px] text-white italic">Last Updated: 10/01/2025</p>
            <p class="text-white text-[16px] font-light pt-[30px] md:pt-[80px]">These Terms & Conditions (“Terms”) govern your access to and use of our website, applications, services, software, and products (collectively, the “Platform”), which are owned and operated by Brain Vector Inc. (“we,” “our,” or “us”).<br><br>
By accessing or using Brain Vector, you agree to be bound by these Terms and our Privacy Policy. If you do not agree to these Terms, please do not use our services.</p>
            <h2 class="text-[24px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[32px] md:pt-[88px]">1. Eligibility</h2>
            <p class="text-white text-[16px] font-light pt-[30px] md:pt-[50px]">You must be at least 18 years old to access or use our Platform. By agreeing to these Terms, you represent and warrant that you meet this age requirement and have the legal authority to accept these Terms on behalf of yourself or any organization you represent.</p>
            <h2 class="text-[24px]  md:text-[30px] md:leading-[30px] text-white font-medium pt-[32px] md:pt-[88px]">1. Use of Services</h2>
            <p class="text-white text-[16px] font-light pt-[30px] md:pt-[50px]">You agree to use Brain Vector for lawful purposes only. You must not use the Platform to:</p>
            <ul class="text-white">
                <li>Violate any local, national, or international laws or regulations</li>
                <li>Infringe upon or violate intellectual property rights</li>
                <li>Transmit malicious software or harmful content</li>
                <li>Misrepresent your identity or affiliation</li>
            </ul>
            <p class="text-white text-[16px] font-light pt-[30px] md:pt-[50px]">We reserve the right to suspend or terminate your access if you breach these Terms.</p>
        </div>
    </section>
    <Footer/>
</Layout>