---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header client:load />
    <!-- Banner Start -->
    <section class="home">
        <video
        autoplay
        muted
        loop
        playsinline
        poster="https://i.ibb.co.com/BHcVtb7Q/reset.png"
        >
        <source src="/videos/brainvector-home-bg-vide.mp4" type="video/mp4" />
        <img
            src="https://i.ibb.co.com/PsyBtX5G/brainvector-home-banner-fallback-img.png"
            alt="Your browser does not support video playback."
        />
        </video>
        <div class="home-content">
        <div>
            <h1>Reset <br> Wellness & Emotional Balance</h1>
            <p>
            Inner Peace, Emotional Regulation & Nervous System Reset.
            </p>
        </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Reset is a specialized Start -->
    <section class="pt-[50px] md:pt-[114px] px-[20px] pb-[50px] md:pb-[136px]">
        <h2 class="text-[34px] leading-[34px] md:text-[50px] md:leading-[50px] text-center max-w-[1150px] mx-auto font-normal!">Reset is a specialized program designed for wellness centers, mental health professionals, and retreat facilitators seeking to guide their clients toward <span class="text-[#8F9EAD] font-semibold"> deep emotional balance, restored nervous system regulation, and lasting inner peace.</span></h2>
        <div class="md:hidden mt-[50px] md:w-1/2 rounded-[20px] h-[364px] md:h-[731px] bg-[url('https://i.ibb.co.com/fzYKkmQq/Why-Emotional-Balance-Matters.png')] bg-cover bg-center">
        </div>
        <div class="max-w-[1408px] mx-auto pt-[50px] md:pt-[114px]">
            <div class="md:flex md:items-center gap-[98px]">
                <div class="md:w-1/2">
                    <h2 class="max-w-[530px] text-[38px] leading-[40px] md:text-[50px] md:leading-[52px] font-medium">Why <span class="text-[#8F9EAD]">Emotional Balance </span> Matters</h2>
                    <div class="pt-[38px] md:pt-[56px] flex justify-start items-center">
                        <img class="w-[114px]! md:w-[130px]!" src="images/efour.svg" alt="s svg" />
                        <p
                        class="max-w-[504px] text-[19px] md:text-[24px] font-regular text-[var(--desaturated)]"
                        >
                        of adults say they regularly feel overwhelmed by their emotions or environment. 1
                        </p>
                    </div>
                    <div class="pt-[25px] md:pt-[41px] flex justify-start items-center">
                        <img class="w-[114px]! md:w-[130px]!" src="images/efour.svg" alt="s svg" />
                        <p
                        class="max-w-[504px] text-[19px] md:text-[24px] font-regular text-[var(--desaturated)]"
                        >
                        reduction in anxiety symptoms has been observed through emotional regulation techniques used in wellness interventions.2
                        </p>
                    </div>
                    <div class="pt-[25px] md:pt-[41px] flex justify-start items-center">
                        <img class="w-[114px]! md:w-[130px]!" src="images/efour.svg" alt="s svg" />
                        <p
                        class="max-w-[504px] text-[19px] md:text-[24px] font-regular text-[var(--desaturated)]"
                        >
                        of retreat participants report greater emotional clarity and inner calm after just one immersive experience.3
                        </p>
                    </div>
                    <p class="text-[14px] font-light md:font-regular! text-[#8D8D8D] pt-[50px]">
                        1. Mental Health Foundation, 2023<br>
                        2. Journal of Mental Health & Wellness, 2022<br>
                        3. Global Wellness Institute, 2023
                    </p>
                </div>
                <div class="hidden md:block md:w-1/2 rounded-[20px] h-[731px] bg-[url('https://i.ibb.co.com/fzYKkmQq/Why-Emotional-Balance-Matters.png')] bg-cover bg-center">
                </div>
            </div>
            <div class="pt-[55px] md:pt-[174px] md:flex md:items-center gap-[31px] md:gap-[56px]">
                <div class="md:w-1/2 hidden md:block">
                    <img src="https://i.ibb.co.com/ZRg5r77p/resetwefs.png" alt="why reset" />
                </div>
                <div class="md:w-1/2">
                    <h2 class="text-[38px] leading-[40px] md:text-[50px] md:leading-[52px] font-medium">Why <span class="text-[#9DAAB7]">Reset</span>?</h2>
                    <img class="md:hidden mt-[23px]" src="https://i.ibb.co.com/ZRg5r77p/resetwefs.png" alt="why reset" />
                    <p class="font-light text-[18px] md:pt-[20px] pt-[31px]" >Reset combines immersive VR & AI technology with neuroscience-based practices to help clients:</p>
                    <div class="pt-[20px] grid gap-[20px]">
                        <div class="flex gap-[14px] md:gap-[20px] items-center">
                            <img class="w-[63px]!" src="images/Harness.svg" alt="Harness" />
                            <p class="font-semibold">Harness oxytocin-driven emotional regulation to lower stress and anxiety</p>
                        </div>
                        <div class="flex gap-[14px] md:gap-[20px] items-center">
                            <img class="w-[63px]!" src="images/Restore.svg" alt="Harness" />
                            <p class="font-semibold">Restore balance in the nervous system, shifting from fight-or-flight to rest-and-digest</p>
                        </div>
                        <div class="flex gap-[14px] md:gap-[20px] items-center">
                            <img class="w-[63px]!" src="images/Anchor.svg" alt="Harness" />
                            <p class="font-semibold">Anchor emotional clarity and stabilize mood fluctuations</p>
                        </div>
                        <div class="flex gap-[14px] md:gap-[20px] items-center">
                            <img class="w-[63px]!" src="images/Provide.svg" alt="Harness" />
                            <p class="font-semibold">Provide tools for self-awareness, emotional release, and long-term wellness</p>
                        </div>
                        <p class="pt-[30px] text-[18px]">Reset isn’t just about calming the mind—it’s about giving clients <strong>lasting emotional structure.</strong><p>
                        <p class="pt-[55px] md:pt-[50px] text-[14px] font-regular! text-[#8D8D8D]">1. Psychology of Sport and Exercise, 2011</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Reset is a specialized End -->
     <!-- Who Reset Serves Start -->
    <section class="pt-[72px] pb-[116px] md:pt-[85px] md:pb-[120px] md:flex flex-col justify-center items-center bg-[#EDF0F4] px-4">
        <h2 class="text-[38px] leading-[38px] text-[42px] md:text-[50px] md:leading-[50px] text-[#0F131A] md:text-center">Who Reset Serves</h2>
        <p class="text-[18px] font-light! text-[#0F131A] pt-[17px] md:pt-[20px] max-w-[676px] md:text-center">The Reset program is designed for professionals and individuals looking to integrate emotional balance and nervous system regulation into wellness practices.</p>
        <div class="grid gap-[20px] md:gap-[30px] grid-cols-1 md:grid-cols-4 pt-[50px] md:pt-[20px] md:pt-[50px]">
            <div class="md:w-[403px] h-[423px] md:h-[441px] bg-[url('https://i.ibb.co.com/HTZ9kbRF/Wellness.png')] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px]">
                <div class="w-full">
                    <hr class="text-white">
                    <p class="pt-[20px] text-[26px] leading-[28px] font-normal! text-[Barlow]! text-white">Wellness centers offering emotional recovery programs</p>
                </div>
            </div>
            <div class="md:w-[403px] h-[423px] md:h-[441px] bg-[url('https://i.ibb.co.com/Nz62Y2D/Therapists.png')] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px]">
                <div class="w-full">
                    <hr class="text-white">
                    <p class="pt-[20px] text-[26px] leading-[28px] font-normal! text-[Barlow]! text-white">Therapists integrating immersive tools into care</p>
                </div>
            </div>
            <div class="md:w-[403px] h-[423px] md:h-[441px] bg-[url('https://i.ibb.co.com/jZ1PWpnW/Retreat.png')] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px]">
                <div class="w-full">
                    <hr class="text-white">
                    <p class="pt-[20px] text-[26px] leading-[28px] font-normal! text-[Barlow]! text-white">Retreat leaders focused on nervous system healing</p>
                </div>
            </div>
            <div class="md:w-[403px] h-[423px] md:h-[441px] bg-[url('https://i.ibb.co.com/d05L0vyX/Individuals.png')] bg-cover bg-center px-[30px] md:px-[38px] pb-[41px] flex items-end rounded-[20px]">
                <div class="w-full">
                    <hr class="text-white">
                    <p class="pt-[20px] text-[26px] leading-[28px] font-normal! text-[Barlow]! text-white">Individuals seeking calm, balance, and reconnection</p>
                </div>
            </div>
        </div>
    </section>
     <!-- Who Reset Serves End -->
    <Footer/>
</Layout>