
<footer class="bg-[var(--black)] text-white py-10">
  <div class="pt-[59px] pb-[137px] max-w-[1400px] mx-auto flex justify-between flex-row md:flex-col">
    <div>
      <img class="w-[275px]!" src="images/brainvector-white-logo.svg" alt="brainvector-white-logo" />
      <p class="text-[16px] font-normal! pt-[28px]">
        Brain Vector Pty Ltd<br>
        address<br>
        Sydney
      </p>
    </div>
    <div class="grid grid-cols-4 gap-[80px]">
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">COMPANY</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">About us</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">How it works</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Backed by research</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">OUR SOLUTIONS</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">reboot</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Realize</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Reset</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">LEGAL INFO</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Privacy Policy</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Terms  & Conditions</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Cookie Policy</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">SUPPORT</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Contact us</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]!" href="">Press contact</a></li>
      </div>
    </div>
    <div class="flex gap-[20px]">
      <a href="#"><img src="images/in.svg" alt="in" /></a>
      <a class="pt-[5px]" href="#"><img src="images/yt.svg" alt="in" /></a>
      <a class="pt-[2px]" href="#"><img src="images/Instagram.svg" alt="in" /></a>
    </div>
  </div>
  <p class="text-[16px] text-center font-normal">©2025 Brain Vector Pty Ltd. All rights reserved</p>
</footer>
