
<footer class="bg-[var(--black)] text-white py-10">
  <div class="max-w-[1400px] mx-auto">
    <div class="pt-[59px] pb-[137px]">
      <img class="w-[275px]!" src="images/brainvector-white-logo.svg" alt="brainvector-white-logo" />
      <p class="text-[16px] font-normal! pt-[28px]">
        Brain Vector Pty Ltd<br>
        address<br>
        Sydney
      </p>
    </div>
  </div>
</footer>
