
<footer class="bg-[var(--black)] text-white py-10 px-4">
  <div class="pt-[59px] pb-[76px] md:pb-[137px] max-w-[1400px] mx-auto flex justify-between flex-col md:flex-row">
    <div>
      <a href="/"><img class="w-[193px]! md:w-[275px]!" src="images/brainvector-white-logo.svg" alt="brainvector-white-logo" /></a>
      <p class="text-[16px] font-normal! pt-[28px]">
        Brain Vector Pty Ltd<br>
        address<br>
        Sydney
      </p>
    </div>
    <div class="flex gap-[20px] md:hidden pt-[34px]">
      <a href="#"><img src="images/in.svg" alt="in" /></a>
      <a class="pt-[5px]" href="#"><img src="images/yt.svg" alt="in" /></a>
      <a class="pt-[2px]" href="#"><img src="images/Instagram.svg" alt="in" /></a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-[30px] md:gap-[80px] pt-[60px] md:pt-0">
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">COMPANY</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">About us</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">How it works</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Backed by research</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">OUR SOLUTIONS</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">reboot</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Realize</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Reset</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">LEGAL INFO</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Privacy Policy</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Terms  & Conditions</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Cookie Policy</a></li>
      </div>
      <div>
        <h5 class="text-[19px] font-bold font-[Barlow]!">SUPPORT</h5>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Contact us</a></li>
        <li class="pt-[10px]"><a class="text-[18px] font-medium font-[Barlow]! text-[var(--BE)]" href="">Press contact</a></li>
      </div>
    </div>
    <div class="hidden md:block">
      <div class="flex gap-[20px]">
        <a href="#"><img src="images/in.svg" alt="in" /></a>
        <a class="pt-[5px]" href="#"><img src="images/yt.svg" alt="in" /></a>
        <a class="pt-[2px]" href="#"><img src="images/Instagram.svg" alt="in" /></a>
      </div>
    </div>
  </div>
  <p class="text-[16px] text-center font-normal text-[var(--BE)]">©2025 Brain Vector Pty Ltd. All rights reserved</p>
</footer>
